body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;            
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}